<!DOCTYPE html>
<html lang="de">
<head>
    <title>Sudoku</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/resources/css/styles.css">
    <script>
        const ws = new WebSocket("{{.WsUrl}}");
    </script>
</head>
<body>
<div id="wrapper">
    <div id="pyro-wrapper" style="display: none">
        <div id="pyro-before"></div>
        <div id="pyro-after"></div>
    </div>
    <div id="sudoku" class="grid-container">
        <div id="sudoku-board">
            <table>
                {{ $rows := .Rows }}
                {{ $columns := .Columns }}

                {{range $row := $rows}}
                    <tr>
                        {{range $column := $columns}}
                            <td><input id="{{$row}}__{{$column}}" class="sudoku-cell"
                                       onkeydown="validateCellInput(event, this)">
                            </td>
                        {{end}}
                    </tr>
                {{end}}
            </table>
        </div>

        <div id="title-container">
            <h1 id="title-header" contenteditable data-heading="Sudoku">
                Sudoku
            </h1></div>
        <div id="animations-container"></div>
        <div id="interaction-container">
            <select id="difficulty-selector" name="difficulty">
                <option value="10">Very Easy</option>
                <option value="15">Easy</option>
                <option value="20">Normal</option>
                <option value="30">Hard</option>
                <option value="40">Very Hard</option>
            </select>
            <button id="create" class="button">Create Sudoku</button>
            <button id="reset" class="button">Reset</button>
            <button id="validate" class="button">Validate</button>
        </div>
    </div>
</div>
<script src="/resources/js/scripts.js"></script>
</body>
</html>